@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model CRUD_Test.AnimalKindom.Models.AddViewModel

<div class="d-flex align-items-center justify-content-between w-100 mt-3">
    <h1 class="fs-2 mb-0 d-inline-block">
        Add Pet <i class="fa-solid fa-pen"></i>
    </h1>
    <a class="btn btn-primary d-flex align-items-center gap-2 px-3" asp-controller="Animal" asp-action="Read">
        <i class="fa-solid fa-eye"></i> Records
    </a>
</div>


@if (TempData["SuccessMessage"] != null)
{
    <input type="hidden" id="successMessage" value="@TempData.Peek("SuccessMessage")" />
}


<form method="post">
    <div class="row g-3">
        <div class="col-md-6 col-12">
            <label class="form-label">Pet Name</label>
            <input type="text" class="form-control" asp-for="Name" required/>
        </div>
        <div class="col-md-6 col-12">
            <label class="form-label">Age</label>
            <input type="number" class="form-control" asp-for="Age" required/>
        </div>
    </div>

    <div class="row g-3">
        <div class="col-md-6 col-12">
            <label class="form-label">Species</label>
            <select class="form-control" asp-for="Species" required>
                <option value="" disabled selected>Select a species</option>
                <option value="Dog">Dog</option>
                <option value="Cat">Cat</option>
                <option value="Bird">Bird</option>
                <option value="Fish">Fish</option>
                <option value="Other">Other</option>
            </select>
        </div>
        <div class="col-md-6 col-12">
            <label class="form-label">Care Taker</label>
            <input type="text" class="form-control" asp-for="CareTaker" required />
        </div>
    </div>

    <div class="row g-3">
        <div class="col-md-6 col-12">
            <label class="form-label">Original Place</label>
            <input type="text" class="form-control" asp-for="OriginatedPlace" required/>
        </div>
        <div class="col-md-6 col-12">
            <label class="form-label">Original Owner</label>
            <input type="text" class="form-control" asp-for="OriginalOwner" required/>
        </div>
    </div>


    <div class="mt-3">
        <button class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-danger" onclick="window.location.href='@Url.Action("Index", "Home")'">Cancel</button>
    </div>
</form>



